figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
